*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_bar {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav_bar li {
    display: inline;
    color: blue;
    text-align: center;
    width: 25%;
}
